<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.openfiretechnologies.veloxcontrol">

    <original-package android:name="net.openfiretechnologies.veloxcontrol" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <!-- System Permissions -->
    <uses-permission android:name="android.permission.BIND_APPWIDGET" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.GET_TOP_ACTIVITY_INFO" />
    <!-- File Operations -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <!-- Networking -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Write Settings -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <!-- Boot -->
    <uses-permission android:name="android.permission.REBOOT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- SU -->
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <!-- Misc -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="eu.chainfire.libsuperuser.Application"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme_Dark">
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="net.openfiretechnologies.veloxcontrol.SHORTCUT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities._DummyLauncher"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.NotificationDrawerStyle"
            android:parentActivityName="net.openfiretechnologies.veloxcontrol.MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="net.openfiretechnologies.veloxcontrol.SHORTCUT" />
            </intent-filter>
        </activity>

        <activity android:name="net.openfiretechnologies.veloxcontrol.util.FileChooser" />

        <service
            android:name=".services.TaskerService"
            android:enabled="true" />

        <receiver
            android:name=".receiver.BootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
